    
        
		
.Left {
width: 50%;
height:50%;
float:left;
align-items: center;
}

#input {
	 padding: 0px 0px 0px 0px;
        margin: -41px 0px -36px -3px;
}

#suggestions {
        background-color:#c4dbdb;
        width: 100%;
        border-style: solid;
        float: right;
        height: 96%;
        overflow-x: auto;
        overflow-y: auto;
        margin-bottom: -20px;
    }

#suggestionsbox {
        color: white;
        font-weight: bold;
        font-family: Georgia, serif;
        font-size: 19px;
        width: 42%;  
    }


#sentence{
        color: white;
        font-weight: bold;
        font-family: Georgia, serif;
        font-size: 19px;
        width: 70%;
        padding: 0px 0px 0px 88px;
        margin: 0px 0px 0px -36px;
    }



element.style {
}

#suggestionsbox {
    height: 40px;
    background-color: #4982cf;
    color: black;
    border: 2px solid White;
    font-weight: bold;
    font-family: Georgia, serif;
	font-size: 20px;
	overflow-x: hidden;
    overflow-y: auto;
	width:100%;	
}

#wordlist{
width:100%;	
    height: 30px;
    background-color: #f45e8f;
    border: 2px solid White;
    font-family: Georgia, serif;
	font-size: 20px;
	scroll-direction: horizontal;
}

<!-- #suggestionswords{ -->
    <!-- width: 60%; -->
    <!-- height:100px; -->
    <!-- border: 15px solid green; -->
    <!-- /* padding: 50px; */ -->
    <!-- /* margin: 20px; */ -->
    <!-- background-color: red; -->
    <!-- color: black; -->
    <!-- border: 2px solid White; -->
    <!-- font-weight: bold; -->
    <!-- font-family: Georgia, serif; -->
	<!-- font-size: 20px; -->
<!-- } -->


element.style {
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
<!-- .button { -->
    <!-- margin-left: 50px; -->
    <!-- font-family: Georgia, serif; -->
    <!-- background-color: #e7f06d; -->
    <!-- border: none; -->
    <!-- color: white; -->
    <!-- padding: 12px 32px; -->
    <!-- text-align: center; -->
    <!-- text-decoration: none; -->
    <!-- display: inline-block; -->
    <!-- font-size: 22px; -->
    <!-- margin: 4px 2px; -->
    <!-- cursor: pointer; -->
    <!-- box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); -->
    <!-- width: 175px; -->
    <!-- height: 50px; -->
    <!-- border-radius: 8px; -->
    <!-- background-color: #e7f06d; -->
    <!-- color: black; -->
    <!-- border: 2px solid White; -->
    <!-- font-weight: bold; -->
<!-- } -->


.button {
    display:inline-block;
	background:#184848;
	color:#fff;
    margin-left:50px;
    font-family: Georgia, serif;
    background-color: #0c0b0b;
    border: 0;
    font-size: 16px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width: 175px;
	height: 50px;
	border-radius: 30px;
	background-color: #4982cf;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(2, 2, 2);
    font-weight: bold;
    transition: all 0.3s linear;
}

#buttonPosition {
   margin-left:100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  <!-- background-image: url("D:\Image.jpeg"); -->
  background-color: #1c87c9;
}

    #buttonPosition {
      margin-left:20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

body {
    /* Background pattern from Toptal Subtle Patterns */
        height: 100%;
        width: 100%;
        background-image: url("R.jfif");
}

